<?xml version="1.0"?>
<config>
    <modules>
        <RedFeet_ShoppingInsight>
            <version>0.0.1</version>
        </RedFeet_ShoppingInsight>
    </modules>
    <global>
	<models>
            <shoppinginsight>
                <class>RedFeet_ShoppingInsight_Model</class>
                <resourceModel>shoppinginsight_mysql4</resourceModel>
            </shoppinginsight>
            <shoppinginsight_mysql4>
                <class>RedFeet_ShoppingInsight_Model_Resource</class>
                <entities>
                    <track><table>shoppinginsight_track</table></track>
                    <order><table>shoppinginsight_track_order</table></order>
                </entities>
            </shoppinginsight_mysql4>
	</models>
        <resources>
            <shoppinginsight_setup>
                <setup>
                    <module>RedFeet_ShoppingInsight</module>
                    <class>RedFeet_ShoppingInsight_Model_Resource_Setup</class>
                </setup>
                <connection>	
                    <use>core_setup</use>
                </connection>
            </shoppinginsight_setup>
            <shoppinginsight_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </shoppinginsight_write>
            <shoppinginsight_read>
               <connection>
                <use>core_read</use>
              </connection>
            </shoppinginsight_read>
        </resources>
        
        <helpers>
            <shoppinginsight>
                <class>RedFeet_ShoppingInsight_Helper</class>
            </shoppinginsight>
        </helpers>
        
        <events>
            <catalog_controller_product_view>
                <observers>
                    <shoppinginsight_observer>
                        <type>singleton</type>
                        <class>shoppinginsight/observer</class>
                        <method>addProductView</method>
                    </shoppinginsight_observer>
                </observers>
            </catalog_controller_product_view>
            <customer_login>
                <observers>
                    <shoppinginsight_loginprocess>
                        <type>singleton</type>
                        <class>shoppinginsight/observer</class>
                        <method>loginProcess</method>
                    </shoppinginsight_loginprocess>
                </observers>
            </customer_login>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <shoppinginsight_order>
                        <type>singleton</type>
                        <class>shoppinginsight/observer</class>
                        <method>addOrderAfter</method>
                    </shoppinginsight_order>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
</config>